@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.banner-title { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

body {
    background-color: #f6f5f5;
}

.contents{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: #666;
    word-break: keep-all;
    max-height: 99999px;
    min-height: 460px;
    margin:0 auto;
    margin-top: 150px;
    padding: 0 0 100px;
    position: relative;
    box-sizing: border-box;
    transition: all .7s ease-out;
    transform-origin: 50% 50%;
    transition-delay: .2s;
    opacity: 1;
    top: 0px;
    width: 1200px;
    margin-bottom: 400px;
}

.banner{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    vertical-align: top;
    }

.banner-title {
    color: #222;
    line-height: 1.4;
    letter-spacing: 0;
    word-break: break-all;
    text-align: center;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-size: 30px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
}

.list {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    margin: 40px 0 0 0;
    padding: 0px;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    width: 100%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #c8c8c8;
    background: #fff;
    table-layout: fixed;
}

thead {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

th {
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    font-weight: 400;
    padding: 26px 10px;
    color: #333;
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    text-align: center;
    vertical-align: middle;
}

tbody {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.list-td {
    font-weight: 400;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    color: #666 !important;
    height: 70px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    vertical-align: middle;
}

.list-span {
    font-weight: 400;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    display: inline-block;
    width: 53px;
    height: 28px;
    color: #b10a11;
    font-size: 13px;
    line-height: 28px;
    border: 1px solid #cb0000;
    text-align: center;
}

.list-title {
    font-weight: 400;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    text-align: left !important;
    height: 70px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #dcdcdc;
    vertical-align: middle;
}

.list-link {
    font-weight: 400;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    text-align: left !important;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-block;
    max-width: 100%;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}

.list-date{
    font-weight: 400;
    letter-spacing: 0;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    margin: 0px;
    height: 70px;
    padding: 0 10px;
    color: #999;
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    vertical-align: middle;
}